// Colours
$colour-primary: #5E548E;
$colour-secondary: #F24236;
$colour-secondary-light: #32CD32;
$colour-default: #FFF;
$colour-default-dark: #DDD;

// Fonts size
$font-xl: 32px;
$font-lg: 24px;
$font-medium: 18px;
$font-small: 14px;
$font-xs: 12px;

// Media Queries
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 450px
