.single-view-content {
    margin: 1em 0 .25em;
}

.single-view-title {
    font-size: $font-xl;
}

.single-view-stats {
    font-size: $font-lg;
    margin: auto 0;
}

.single-view-details span {
    color: $colour-secondary-light;
    font-size: $font-medium;
}

.site-main {
    margin-bottom: 5em;
}